@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    font-family: 'Noto Serif', serif;
    /* padding: 1px; */
    margin: 0;
    
}

header{
    background-color:white;
    height: 100vh;
    width: 100%;
    color:rgb(0, 0, 0);
    text-align: center;
}

.navbar{
    padding: 0%;
    position: fixed;
    width: 100%;
    z-index: 300;
}

.navbar-container{
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    font-size: small;
}
.links{
    justify-content: right;
    font-size: small;
}

.menu{
    justify-content: right;
    display: flex;
    
}
.menu li{
    list-style: none;
    padding: 2rem;
    font-size: small;
}

.menu a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.2rem;
    font-size: medium;
}

.menu a:hover{
    color: rgb(0, 140, 255);
}

.intro1{
    background-image: url("./intro1.png");
    background-repeat: no-repeat;
    background-size: 80% 90%;
    background-position: center;
    margin-left: 4px;
    padding-top: 10%;
    margin-top: 2%;
    height: 60vh;
    color: yellow;
    /* border-radius: 5px;
    border: 5px solid black; */
}

.details{
    display:inline-flex;
    text-align: center;
}

.days, .events, .spon, .parti{
    text-align: center;
}
.Sponsors{
    margin-left: 4px;
    /* border-radius: 5px;
    border: 5px solid black; */
    height: 175vh;
}
.Events{
    margin-left: 4px;
    /* border-radius: 5px;
    border: 5px solid black; */
    position: relative;
    margin-top: 3%;
    height: 80vh;
}
.sponsors{
    /* margin:0; */
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    height: 90vh;
}

.heading{
    margin: 0 43%;
    margin-bottom: 5px;
}
.home{
    padding: 14px;
}

.careerboat, .sblb, .vf{
    margin: 1px 10%;
    margin-bottom: 4px;
    padding: 5px;
    border: 1px solid grey;
    position: relative;
}

.contact{
    font-size: large;
}

.speakers{
    display: flex;
    position: relative;
}

footer{
    /* background-color: rgb(118, 252, 252); */
    margin-top: 2.5%;
    justify-content:space-between;
    display: flex;

}