@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Noto+Serif&display=swap');

*{
    font-family: 'Noto Serif', serif;
    /* padding: 1px; */
    margin: 0;
    /* background-color: rgb(242, 239, 239); */
}
body{
    background-color: #041e34;
    color:#e0f0f8;
}
header{
    height: 30%;
    width: 100%;
    /* color:rgb(0, 0, 0); */
    text-align: center;
}

.navbar{
    padding: 0%;
    position: fixed;
    width: 100%;
    z-index: 300;
}

.navbar-container{
    color:rgb(0, 0, 0);
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
    font-size: small;
}
.links{
    justify-content: right;
    font-size: small;
}

.menu{
    justify-content: right;
    display: flex;
    
}
.menu li{
    list-style: none;
    padding: 2rem;
    font-size: small;
}

.menu a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.2rem;
    font-size: medium;
}

.menu a:hover{
    color: rgb(0, 140, 255);
}

.intro1{
    font-family: 'Merriweather', serif;
    /* background-image: url("./intro6.jpg");
    background-repeat: no-repeat;
    background-size: 80% 90%;
    background-position: center; */
    margin-left: 4px;
    padding-top: 5%;
    font-size: large;
    margin-top: 2%;
    height: 110vh;
    /* color: rgb(255, 255, 255); */
}
.images{
    text-align: center;
}
/* .overlay{
    margin-left: 10%;
    width: 80%;
} */
/* .overlay1{
    background-color: rgba(0, 0, 0, 0.4);
    padding:7px;
} */

.details{
    font-weight: 450;
    display:inline-flex;
    text-align: center;
}

.days, .events, .spon, .parti{
    text-align: center;
}
.Sponsors{
    background-color: #6da8ce;
    margin-left: 4px;
    /* border-radius: 5px;
    border: 5px solid black; */
    height: 140vh;
    color: #041e34;
    font-weight: 600;
}
.Events{
    margin-left: 4px;
    /* border-radius: 5px;
    border: 5px solid black; */
    position: relative;
    margin-top: 3%;
    height: 150vh;
}
.sponsors{
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    height: 140vh;
    /* margin-bottom: 0%; */
}

.heading{
    margin: 0 42%;
    margin-bottom: 5px;
}
.home{
    padding: 14px;
    /* background-image: url("events1.jpg"); */
    background-repeat: no-repeat;
    background-size: 80% 90%;
    background-position: center;
    margin-left: 4px;
    /* padding-top: 10%; */
    height: 100vh;
}

.careerboat, .sblb, .vf{
    margin: 1px 10%;
    margin-bottom: 4px;
    padding: 5px;
    /* border: 1px solid grey; */
    position: relative;
}

.vf{
    padding-bottom: 0%;
}

/* .contact{
    font-size: large;
} */

.Events h2{
    text-align: center;
}

.blogcreate, .codequest{
    padding: 14px;
    /* border: 1px solid grey; */
    position: relative;
    /* color: rgb(145, 19, 19); */
    font-weight: 600;
    display: flex;
}

.blogcreate h3, .codequest h3{
    text-align: center;
    font-size: larger;
}
/* .blogcreate{
    background-image: url("Blogcreate.jpeg");
}
.codequest{
    background-image: url("codequest.jpg");
} */
.speakers{
    display: flex;
    position: relative;
}

footer{
    background-color: white;
    border-top: 1px solid black;
    /* background-color: white; */
    font-size: larger;
    /* margin: 0 5px; */
    /* margin-top: 2.5%; */
    padding: 7px;
    justify-content:space-evenly;
    display: flex;
    color:black;
}
